[submodule "dependencies/textarea-caret-position"]
	path = dependencies/textarea-caret-position
	url = git@github.com:component/textarea-caret-position.git
[submodule "dependencies/LargeLocalStorage"]
	path = dependencies/LargeLocalStorage
	url = git@github.com:tantaman/LargeLocalStorage.git
[submodule "dependencies/q"]
	path = dependencies/q
	url = git@github.com:kriskowal/q.git
