[submodule "dependencies/LargeLocalStorage"]
	path = dependencies/LargeLocalStorage
	url = https://github.com/tantaman/LargeLocalStorage.git
[submodule "dependencies/q"]
	path = dependencies/q
	url = https://github.com/kriskowal/q.git
[submodule "dependencies/Caret.js"]
	path = dependencies/Caret.js
	url = https://github.com/ichord/Caret.js.git
[submodule "dependencies/jquery-nearest"]
	path = dependencies/jquery-nearest
	url = https://github.com/gilmoreorless/jquery-nearest.git
[submodule "dependencies/js-lru"]
	path = dependencies/js-lru
	url = https://github.com/rsms/js-lru.git
