/* Fonts */
@include font-face(SnoogleLT, "/static/fonts/SnoogleLT/SnoogleLT");

/* Colors */
$color-brandMain: #ffcc00;

.logo {
  display: flex;
  align-items: center;
  float: left;
}

/* Override logo location and width */
.logo a {
  background: url(/static/images/browji-logo.png) no-repeat 0 0;
  width: 3.4rem;
  height: 3.4rem;
  background-size: 3.4rem;
}

.logo-text {
  font-family: SnoogleLT, sans-serif;
  font-size: 3.7rem;
  margin-left: 1.2rem;
  color: $color-brandMain;
}

header {
  z-index: 2147483647;
  background-color: rgba(0,0,0,0.5);
}
/* The header is overlapping content on mobile */
@media (max-width: 767px) {
  header {
    background-color: #123;
    position: fixed;
  }
  /* Give room for content beneath the header to fit */
  main {
    margin-top: 6.5rem;
  }
}
